# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# Entorno virtual
.venv/
venv/
env/
ENV/

# --- Base de Datos ---
# Si history.db es local y no quieres subir el historial de descargas al repo:
*.db
*.sqlite3
*.txt
# --- Configuración y Secretos ---
# ¡NUNCA subas tus archivos de entorno con contraseñas o API keys!
.env

# --- Carpetas de archivos generados ---
# Carpeta de descargas
downloads/

# --- Sistema / OS ---
.DS_Store
Thumbs.db

# --- Docker ---
# Si tu .env es tu única configuración, ya está ignorado arriba